.invest {
  margin: 0 0 80px 0;
  position: relative;
  background-image: url("../img/bg-invest-map.png");
  background-repeat: no-repeat;
  background-size: 818px 461px;
  background-position: right -50px bottom;
  @media (min-width: $desktop-width) {
    background-position: right -50px top;
    margin: 0 0 80px 0;
  }
  // .invest__wrap

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 970px;
    min-height: 500px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
      justify-content: space-around;
    }
    @media (min-width: $desktop-width) {
      justify-content: space-between;
    }
  }

  // .invest__slogan-wrap

  &__slogan-wrap {
    width: 100%;
    max-width: 450px;
    margin: 0 0 40px 0;
    text-align: center;
    @media (min-width: $tablet-width) {
      max-width: 340px;
      text-align: left;
    }
    @media (min-width: $desktop-width) {
      max-width: 430px;
    }
  }

  // .invest__slogan

  &__slogan {
    font-family: 'Inter', sans-serif;

    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin: 45px 0 32px 0;
    color: $greenmint;
    span {
      color: $orange;
    }
  }

  // .invest__slogan-text

  &__slogan-text {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin: 0 0 46px 0;
  }

  // .invest__btn

  &__btn {
    margin: 0 0 50px 0;
  }

  // .invest__content-wrap

  &__content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-width: 400px;
    @media (min-width: $tablet-width) {
      max-width: 340px;
      text-align: left;
    }
    @media (min-width: $desktop-width) {
      max-width: 400px;
    }
  }

  // .invest__link-arrow

  &__link-arrow {
    position: absolute;
    top: 122px;
    left: 30px;
    width: 60px;
    height: 60px;
    z-index: 3;
    @media (min-width: $desktop-width) {
      top: 122px;
      left: 0;
      width: 60px;
      height: 60px;
    }
  }

  &__product {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @media (min-width: $desktop-width) {
      top: 0;
      left: 30px;
      transform: none;
    }
  }

  &__product-aside {
    position: absolute;
    right: 0;
    bottom: 103px;
  }
}