.list-col-nav {
  // .list-col-nav__item

  &__item {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0 0 16px 0;
  }

  // .list-col-nav__link

  &__link {
  }
}