// Vieports

$mobile-width-mid: 374px;
$mobile-width-big: 424px;
$tablet-width: 767px;
$desktop-width: 1023px;
//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// ----- Font-sizes-----

// ----- Colors-----
$greenmint: #99efd0;
$purple: #8476aa;
$orange: #f2994a;
$darkblue: #0f1145;
$grey: #b5b5b5;
$white: #ffffff;
